@import 'partials/_article_list.scss';
@import 'partials/_audio_list.scss';
@import 'partials/_video_list.scss';

$lvContainerPageBlog: (
    card_blog_bg_color:   map-get($pale_cerulean, "color_khaki"),
    card_blog_font_color: map-get($basic_colors, "color_black"),
);

.lv-container-blog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: rem-convertor(60px);
    margin-bottom: rem-convertor(60px);
    height: 100vh;
    & .card {
        border-radius: rem-convertor(0px);
        background-color: map-get($lvContainerPageBlog, "card_blog_bg_color") !important;
        border-width: rem-convertor(0px);
        &-title {
            margin-bottom: rem-convertor(0px);
            color: map-get($lvContainerPageBlog, "card_blog_font_color") !important;
            text-align: center;
        }
        &-body {
            &:nth-last-child(2) {
                padding-bottom: rem-convertor(0px);
            }
            &:last-child {
                @include flex-center();
                flex-direction: column;
            }
            & a {
                color: map-get($lvContainerPageBlog, "card_blog_font_color") !important;
            }
        }
        &-text {
            color: map-get($lvContainerPageBlog, "card_blog_font_color") !important;
            text-align: justify;
        }
    }
}
.lv-con-sect-articles, .lv-con-sect-audio, .lv-con-sect-video {
    margin: rem-convertor(120px) 0rem;
    & h1 {
        margin: rem-convertor(32px) 0rem;
        text-align: center;
    }
}