@import 'partials/_article_list.scss';
@import 'partials/_audio_list.scss';
@import 'partials/_main_categories.scss';
@import 'partials/_video_list.scss';

$lvContainerPageBlog: (
    card_background_color:    map-get($pale_cerulean, "color_khaki"),
    card_font_color:          map-get($basic_colors, "color_black"),
    button_background_color:  map-get($analogous_dark_vanilla, "color_green_mist"),
    button_border_color:      map-get($analogous_dark_vanilla, "color_green_mist"),
    button_font_color:        map-get($basic_colors, "color_black"),
    button_more_bg_color:     map-get($pale_cerulean, "color_khaki"),
    button_more_border_color: map-get($pale_cerulean, "color_khaki"),
    button_more_font_color:   map-get($basic_colors, "color_black"),
);

.lv-pg-blog {
    @include flex-center();
    flex-direction: column;
    @media only screen and (max-width: 992px) {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
}
.lv-pg-articles, .lv-pg-audio, .lv-pg-video {
    @include flex-center();
    flex-direction: column;
    margin: rem-convertor(120px) 0rem;
    &-header {
        margin-bottom: rem-convertor(50px);
        & h1 {
            margin-bottom: rem-convertor(50px);
            text-transform: uppercase;
            text-align: center;
        }
    }
    &-body {
        & .card {
            margin: rem-convertor(20px) 0rem;
            width: 100%;
            background-color: map-get($lvContainerPageBlog, "card_background_color");
            border: rem-convertor(0px) !important;
            border-radius: rem-convertor(0px);
            &-title {
                margin-top: rem-convertor(16px);
                margin-bottom: rem-convertor(16px) !important;
                width: 100%;
                font-size: rem-convertor(24px);
                text-align: left !important;
                & span {
                    font-size: rem-convertor(16px);
                    font-style: italic;
                }
                & p {
                    font-size: rem-convertor(16px);
                }
            }
            &-text {
                margin-top: rem-convertor(16px);
            }
            &-body {
                & .btn {
                    float: right;
                    background-color: map-get($lvContainerPageBlog, "button_background_color");
                    border-color: map-get($lvContainerPageBlog, "button_border_color");
                    border-radius: rem-convertor(0px);
                    color: map-get($lvContainerPageBlog, "button_font_color");
                    font-weight: bold;
                    &:focus {
                        border-color: transparent !important;
                        box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                        outline: 0 none !important;
                    }
                }
                & audio {
                    width: 100%;
                }
            }
            & .row {
                & .col-md-4 {
                    & video {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    &-button-more {
        margin-top: rem-convertor(50px);
        & .btn {
            margin-top: rem-convertor(50px);
            margin-bottom: rem-convertor(20px);
            background-color: map-get($lvContainerPageBlog, "button_more_bg_color");
            border-color: map-get($lvContainerPageBlog, "button_more_border_color");
            border-radius: rem-convertor(0px);
            font-weight: bold;
            color: map-get($lvContainerPageBlog, "button_more_font_color");
            &:focus {
                border-color: transparent !important;
                box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                outline: 0 none !important;
            }
            & .fab {
                @include flex-center();
                width: rem-convertor(25px);
                height: rem-convertor(25px);
            }
        }
    }
}