$lvTimeline: (
    timeline_arrow_bg_color:         map-get($basic_colors, "color_black_olive"),
    timeline_connector_color:        map-get($basic_colors, "color_black_olive"),
    timeline_event_bg_color:         map-get($complementary_blizzard_blue, "color_sea_nymph"),
    timeline_scrollbar_color:        map-get($complementary_blizzard_blue, "color_sea_nymph"),
    expanded_image_bg_color:         map-get($blizzard_blue, "color_blizzard_blue"),
    expanded_image_bg_color_btn:     map-get($complementary_blizzard_blue, "color_sea_nymph"),
    expanded_image_border_color_btn: map-get($complementary_blizzard_blue, "color_sea_nymph"),
    expanded_image_border_color:     map-get($complementary_blizzard_blue, "color_sea_nymph"),
    expanded_image_font_color_btn:   map-get($basic_colors, "color_black"),
);

.lv-con-about-me-timeline {
    margin-top: rem-convertor(100px);
    margin-bottom: rem-convertor(100px);
    width: rem-convertor(992px);
    @media only screen and (max-width: 1199px) {
        width: rem-convertor(992px - 30px);
    }
    @media only screen and (max-width: 991px) {
        width: rem-convertor(768px - 30px);
    }
    @media only screen and (max-width: 767px) {
        width: rem-convertor(576px - 30px);
    }
    @media only screen and (max-width: 575px) {
        width: rem-convertor(375px - 20px);
    }
    @media only screen and (max-width: 374px) {
        width: rem-convertor(300px);
    }
    & h1 {
        margin-bottom: rem-convertor(100px);
        text-align: center;
        @media only screen and (max-width: 375px) {
            margin-bottom: rem-convertor(70px);
        }
    }
    & .bar {
        position: relative;
        top: rem-convertor(330px);
        left: 0rem;
        width: 98%;
        height: rem-convertor(4px);
        background: map-get($lvTimeline, "timeline_arrow_bg_color");
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
        @media only screen and (max-width: 374px) {
            display: none;
        }
    }
    & .timeline {
        position: relative;
        padding: rem-convertor(60px) 0rem;
        white-space: nowrap;
        overflow-x: scroll;
        &-picture {
            &-event {
                display: inline-block;
                text-align: center;
                position: relative;
                min-width: rem-convertor(200px);
                max-width: rem-convertor(352px);
                top: rem-convertor(-32.4px);
                &:not(:last-of-type) {
                    margin-right: rem-convertor(200px);
                    @media only screen and (max-width: 1199px) {
                        margin-right: rem-convertor(200px - 30px);
                    }
                    @media only screen and (max-width: 374px) {
                        margin-right: rem-convertor(200px - 120px);
                    }
                }
                &:last-of-type {
                    margin-right: rem-convertor(40px);
                    @media only screen and (max-width: 374px) {
                        margin-right: 0rem;
                    }
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: rem-convertor(290px);
                        left: 104%;
                        border-top: rem-convertor(10px) solid transparent;
                        border-left: rem-convertor(10px) solid map-get($lvTimeline, "timeline_connector_color");
                        border-bottom: rem-convertor(10px) solid transparent;
                        @media only screen and (max-width: 991px) {
                            left: 109.15%;
                        }
                        @media only screen and (max-width: 767px) {
                            left: 109.05%;
                        }
                        @media only screen and (max-width: 374px) {
                            display: none;
                        }
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    background: map-get($lvTimeline, "timeline_connector_color");
                    width: rem-convertor(5px);
                    height: rem-convertor(15px);
                    position: absolute;
                    left: rem-convertor(180px);
                    top: rem-convertor(282px);
                    margin-left: rem-convertor(-2px);
                    @media only screen and (max-width: 374px) {
                        display: none;
                    }
                }
                & .card {
                    & img {
                        &:hover {
                            cursor: zoom-in;
                        }
                        @media only screen and (max-width: 374px) {
                            height: rem-convertor(280px);
                        }
                    }
                    &-text {
                        & span {
                            font-style: italic;
                            &:hover {
                                cursor: pointer;
                                font-style: italic;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &:nth-of-type(1) {
                    & .card-text {
                        top: 72%;
                    }
                }
                &:nth-of-type(2) {
                    & .card-text {
                        top: 55%;
                    }
                }
                &:nth-of-type(3) {
                    & .card-text {
                        top: 72%;
                    }
                }
                &:nth-of-type(4) {
                    & .card-text {
                        top: 72%;
                    }
                }
                &:nth-of-type(5) {
                    & .card-text {
                        top: 63%;
                    }
                }
                &:nth-of-type(6) {
                    & .card-text {
                        top: 63%;
                    }
                }
            }
        }
        &-event {
            &-entry {
                display: inline-block;
                text-align: center;
                position: relative;
                min-width: rem-convertor(200px);
                max-width: rem-convertor(352px);
                &:not(:last-of-type) {
                    margin-right: rem-convertor(200px);
                    @media only screen and (max-width: 1199px) {
                        margin-right: rem-convertor(200px - 30px);
                    }
                    @media only screen and (max-width: 374px) {
                        margin-right: rem-convertor(200px - 120px);
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    background:  map-get($lvTimeline, "timeline_connector_color");
                    width: rem-convertor(5px);
                    height: rem-convertor(15px);
                    position: absolute;
                    left: rem-convertor(180px);
                    top: rem-convertor(-15px);
                    margin-left: rem-convertor(-2px);
                    @media only screen and (max-width: 374px) {
                        display: none;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    background: #eee;
                    width: rem-convertor(12px);
                    height: rem-convertor(12px);
                    border-radius: rem-convertor(6px);
                    border: rem-convertor(3px) solid  map-get($lvTimeline, "timeline_connector_color");
                    background-color: map-get($lvTimeline, "timeline_connector_color");
                    position: absolute;
                    left: rem-convertor(180px);
                    top: rem-convertor(-26px);
                    margin-left: rem-convertor(-6px);
                    @media only screen and (max-width: 374px) {
                        display: none;
                    }
                }
            }
        }
        & .card {
            border: 0rem;
            border-radius: 0rem;
            width: rem-convertor(352px);
            background-color: map-get($lvTimeline, "timeline_event_bg_color");
            white-space: normal;
            @media only screen and (max-width: 374px) {
                width: rem-convertor(352px - 52px);
            }
            &-img-top {
                margin-bottom: 0rem !important;
            }
            &-title {
                margin-bottom: 0rem !important;
                user-select: none;
            }
            &-text {
                position: absolute;
                padding: rem-convertor(16px) rem-convertor(16px);
                background-color: #FFFFFF;
                font-weight: bold;
                opacity: 0.65;
                user-select: none;
            }
        }
        & .modal {
            &-dialog {
                @media only screen and (min-width: 576px) {
                    max-width: rem-convertor(600px);
                }
            }
            &-content {
                // width: auto !important;
                background-color: map-get($lvTimeline, "expanded_image_bg_color");
            }
            &-header {
                white-space: normal;
                border-bottom-color: map-get($lvTimeline, "expanded_image_border_color");
            }
            &-title {
                border-bottom: 0rem;
            }
            &-body {
                white-space: normal;
                & p {
                    margin-bottom: 0rem !important;
                    text-align: justify;
                }
                @media only screen and (min-width: 320px) {
                    width: 100%;
                }
                & .fa-window-close {
                    position: absolute;
                    top: 3%;
                    left: 92%;
                    width: rem-convertor(30px);
                    height: rem-convertor(30px);
                    color: #FFFFFF;
                    opacity: 1 !important;
                    @media only screen and (max-width: 425px) {
                        left: 91%;
                    }
                    @media only screen and (max-width: 375px) {
                        left: 89%;
                    }
                    @media only screen and (max-width: 320px) {
                        left: 87%;
                    }
                }
                & img {
                    @media only screen and (min-width: 320px) {
                        width: 100%;
                    }
                }
                &--image {
                    padding: 0rem !important;
                }
            }
            &-footer {
                justify-content: center;
                border-top: 0rem;
                & .btn {
                    margin-top: rem-convertor(20px);
                    margin-bottom: rem-convertor(20px);
                    background-color: map-get($lvTimeline, "expanded_image_bg_color_btn");
                    border-color: map-get($lvTimeline, "expanded_image_border_color_btn");
                    border-radius: rem-convertor(0px);
                    font-weight: bold;
                    color: map-get($lvTimeline, "expanded_image_font_color_btn");
                    @media only screen and (max-width: 767px) {
                        margin-top: 0rem;
                        margin-bottom: 0rem;
                    }
                    @media only screen and (max-width: 320px) {
                        top: 82%;
                        left: 29%;
                    }
                    &:focus {
                        border-color: transparent !important;
                        box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                        outline: 0 none !important;
                    }
                }
            }
        }
        &::-webkit-scrollbar {
            width: 1rem;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 rem-convertor(6px) map-get($lvTimeline, "timeline_scrollbar_color");
        }
        &::-webkit-scrollbar-thumb {
            background-color: map-get($lvTimeline, "timeline_scrollbar_color");
            outline: rem-convertor(1px) solid map-get($lvTimeline, "timeline_scrollbar_color");;
        }
    }
}