.lv-con-banner-v1 {
    width: 100%;
    & .carousel-indicators {
        // margin-left: 44%;
        margin-left: 38%;
        margin-right: 0%;
        @media only screen and (max-width: 1399px) {
            margin-left: 44%;
        }
        @media only screen and (max-width: 1199px) {
            margin-left: 53%;
        }
        @media only screen and (max-width: 991px) {
            margin-left: 15%;
            margin-right: 15%;
        }
        & button {
            border-radius: 50%;
            width: rem-convertor(15px);
            height: rem-convertor(15px);
            background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
        }
    }
    & .carousel-img {
        // @include flex-center();
        // width: 50%;
        @media only screen and (max-width: 991px) {
            @include flex-center();
            width: auto;
        }
    }
    & .carousel-inner {
        & .carousel-item {
            transition-duration: 1.5s;
        }
    }
    & .carousel-caption {
        right: 0%;
        // left: 44%;
        left: 38%;
        bottom: 0rem;
        height: 100%;
        display: flex !important;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: rem-convertor(8px) rem-convertor(16px) rem-convertor(40px) rem-convertor(16px);
        background-color: map-get($complementary_blizzard_blue, "color_dew");
        opacity: 1;
        @media only screen and (max-width: 1399px) {
            left: 44%;
        }
        @media only screen and (max-width: 1199px) {
            left: 53%;
        }
        @media only screen and (max-width: 991px) {
            position: unset;
            right: 15%;
            left: 15%;
            margin-left: auto;
            margin-right: auto;
            width: rem-convertor(495px);
            height: auto;
        }
        @media only screen and (max-width: 575px) and (min-width: 320px) {
            width: auto;
        }
        & p {
            @include flex-center();
            margin: rem-convertor(8px) 0rem;
            height: rem-convertor(100px);
            font-size: rem-convertor(22px);
            color: map-get($basic_colors, "color_black");
            font-weight: 900;
            user-select: none;
        }
        &-body {
            & p {
                margin: rem-convertor(8px) 0rem;
                height: auto;
                font-size: rem-convertor(16px);
                color: map-get($basic_colors, "color_black");
                font-weight: 400;
                user-select: none;
            }
        }
        & .btn {
            margin: rem-convertor(8px) 0rem;
            @include button();
        }
    }
    & .carousel-control-prev, & .carousel-control-next {
        & .fas {
            @include flex-center();
            border-radius: 50%;
            width: rem-convertor(36px);
            height: rem-convertor(36px);
            background-color: map-get($basic_colors, "color_white");
            color: map-get($basic_colors, "color_black");
            opacity: 1;
        }
    }
}