$lvContainerCategories: (
    categories_card_bg_color: map-get($pale_cerulean, "color_khaki"),
    categories_font_color:    map-get($basic_colors, "color_black"),
);

.lv-container-categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & .card {
        border-radius: rem-convertor(0px);
        background-color: map-get($lvContainerCategories, "categories_card_bg_color") !important;
        border-width: rem-convertor(0px);
        &-title {
            margin-bottom: rem-convertor(0px);
            color: map-get($lvContainerCategories, "categories_font_color") !important;
            text-align: center;
        }
        &-body {
            &:nth-last-child(2) {
                padding-bottom: rem-convertor(0px);
            }
            &:last-child {
                @include flex-center();
                flex-direction: column;
            }
            & a {
                color: map-get($lvContainerCategories, "categories_font_color") !important;
            }
        }
        &-text {
            color: map-get($lvContainerCategories, "categories_font_color") !important;
            text-align: justify;
        }
    }
}