$lvContainerSectionHeading: (
    heading_bg_color_btn:     map-get($pale_cerulean, "color_khaki"),
    heading_border_color_btn: map-get($pale_cerulean, "color_khaki"),
    heading_font_color_btn:   map-get($basic_colors, "color_black"),
);

.lv-con-sect-heading {
    @include flex-center();
    &-lead {
        width: 80%;
        & .display-4, & .lead {
            margin-top: rem-convertor(8px);
            margin-bottom: rem-convertor(8px) !important;
        }
    }
    &-buttons {
        @include flex-center();
        flex-direction: column;
        width: 20%;
        height: 100%;
        text-align: center;
        &-appointment, &-social-media {
            & .btn {
                margin-top: rem-convertor(20px);
                margin-bottom: rem-convertor(20px);
                background-color: map-get($lvContainerSectionHeading, "heading_bg_color_btn");
                border-color: map-get($lvContainerSectionHeading, "heading_border_color_btn");
                border-radius: rem-convertor(0px);
                font-weight: bold;
                color: map-get($lvContainerSectionHeading, "heading_font_color_btn");
                &:focus {
                    border-color: transparent !important;
                    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                    outline: 0 none !important;
                }
                & .fab {
                    @include flex-center();
                    width: rem-convertor(25px);
                    height: rem-convertor(25px);
                }
            }
        }
        &-appointment {
            & .btn {
                padding-right: rem-convertor(8px);
                padding-left: rem-convertor(8px);
                width: rem-convertor(177px);
            }
        }
        &-social-media {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}