$lvContainerHeading: (
    heading_bg_color_btn:     map-get($pale_cerulean, "color_khaki"),
    heading_border_color_btn: map-get($pale_cerulean, "color_khaki"),
    heading_font_color_btn:   map-get($basic_colors, "color_black"),
);

.lv-container-heading {
    @include flex-center();
    margin-top: rem-convertor(30px);
    margin-bottom: rem-convertor(30px);
    & .container-lead {
        width: 80%;
    }
    & .container-buttons {
        display: inline-table;
        width: 20%;
        text-align: center;
        & .btn {
            background-color: map-get($lvContainerHeading, "heading_bg_color_btn");
            border-color: map-get($lvContainerHeading, "heading_border_color_btn");
            border-radius: rem-convertor(0px);
            font-weight: bold;
            color: map-get($lvContainerHeading, "heading_font_color_btn");
            &:focus {
                border-color: transparent !important;
                box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                outline: 0 none !important;
            }
            &:first-child {
                margin-bottom: rem-convertor(20px);
                width: 100%;
            }
            & .fab {
                @include flex-center();
                width: rem-convertor(25px);
                height: rem-convertor(25px);
            }
        }
    }
}