$lvContainerSectionNewsletter: (
    newsletter_bg_color_btn:          map-get($pale_cerulean, "color_khaki"),
    newsletter_border_color_btn:      map-get($pale_cerulean, "color_khaki"),
    newsletter_font_color_btn:        map-get($basic_colors, "color_black"),
    newsletter_font_color_form_check: map-get($basic_colors, "color_black"),
);

.lv-con-newsletter {
    & form {
        margin-bottom: rem-convertor(0px);
    }
    & .row {
        &:first-child {
            margin-right: rem-convertor(0px);
            margin-bottom: rem-convertor(16px);
        }
        & .col {
            padding: rem-convertor(0px);
            & .form-control {
                border-radius: rem-convertor(0px);
                height: rem-convertor(60px);
            }
            & .btn {
                height: rem-convertor(60px);
                border-radius: rem-convertor(0px);
                background-color: map-get($lvContainerSectionNewsletter, "newsletter_bg_color_btn");
                border-color: map-get($lvContainerSectionNewsletter, "newsletter_border_color_btn");
                border-radius: rem-convertor(0px);
                color: map-get($lvContainerSectionNewsletter, "newsletter_font_color_btn");
                font-weight: bold;
                text-transform: uppercase;
                &:focus {
                    border-color: transparent !important;
                    box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent !important;
                    outline: 0 none !important;
                }
            }
            & input[type="text"]:focus, input[type="email"]:focus {
                border-color: transparent;
                box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                outline: 0 none;
            }
        }
        & .form-check {
            margin-bottom: rem-convertor(0px);
            @media only screen and (max-width: 767px) {
                @include flex-center();
                flex-direction: column;
            }
            &-privacy-policy {
                @media only screen and (max-width: 767px) {
                    flex-direction: row;
                }
            }
            &-input {
                width: rem-convertor(20px);
                height: rem-convertor(20px);
                @media only screen and (max-width: 767px) {
                    margin-right: rem-convertor(4px);
                }
            }
            &-label {
                & .a-typography {
                    margin: rem-convertor(8px) 0rem;
                    padding: 0rem;
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    text-align: left;
                    text-decoration: none;
                    white-space: normal;
                    word-break: normal;
                    word-spacing: normal;
                    text-decoration: underline;
                    text-indent: rem-convertor(0px);
                    &:visited, &:active {
                        color: map-get($lvContainerSectionNewsletter, "newsletter_font_color_form_check");
                    }
                    &:hover {
                        color: map-get($lvContainerSectionNewsletter, "newsletter_font_color_form_check");
                        cursor: pointer;
                    }
                }
            }
            & .invalid-feedback {
                @media only screen and (max-width: 767px) {
                    text-align: center;
                }
            }
        }
    }
}