@import '../../../../components/front_view/partials/_button.scss';

.lv-con-newsletter {
    padding: 0rem !important;
    & .row {
        --bs-gutter-x: 0rem !important;
        flex-wrap: nowrap;
        &:first-child {
            margin-bottom: rem-convertor(16px);
            @media only screen and (max-width: 991px) {
                flex-direction: column;
            }
        }
        & .form-check {
            margin-bottom: rem-convertor(0px);
            @media only screen and (max-width: 767px) {
                @include flex-center();
                flex-direction: column;
            }
            &-privacy-policy {
                @media only screen and (max-width: 767px) {
                    flex-direction: row;
                }
            }
            &-input {
                width: rem-convertor(20px);
                height: rem-convertor(20px);
                @media only screen and (max-width: 767px) {
                    margin-right: rem-convertor(4px);
                }
            }
            &-label {
                & .a-typography {
                    margin: rem-convertor(8px) 0rem;
                    padding: 0rem;
                    color: map-get($basic_colors, "color_black");
                    font-style: normal;
                    font-variant: normal;
                    font-weight: normal;
                    text-align: left;
                    text-decoration: none;
                    white-space: normal;
                    word-break: normal;
                    word-spacing: normal;
                    text-decoration: underline;
                    text-indent: rem-convertor(0px);
                    &:visited, &:active {
                        color: map-get($basic_colors, "color_black");
                    }
                    &:hover {
                        color: map-get($basic_colors, "color_black");
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &-form {
        padding: rem-convertor(0px);
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
        & .form-control {
            border-radius: rem-convertor(0px);
            height: rem-convertor(60px);
        }
        & .btn {
            height: rem-convertor(60px);
            text-transform: uppercase;
            @include button();
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
        }
        & input[type="text"]:focus, input[type="email"]:focus {
            border-color: transparent;
            box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
            outline: 0 none;
        }
        & input::placeholder {
            font-style: italic;
        }
    }
    & .invalid-feedback {
        margin-bottom: rem-convertor(4px);
        @media only screen and (max-width: 767px) {
            text-align: center;
        }
    }
}