@import '../../../../components/front_view/partials/_button.scss';
@import '../../../../components/front_view/partials/_form_input.scss';

.lv-con-newsletter {
    padding: 0rem !important;
    ::selection {
        background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
    }
    &-head {
        margin-bottom: rem-convertor(32px);
        font-family: inherit;
        text-align: center;
        user-select: none;
        & h1 {
            margin-bottom: 0rem;
        }
    }
    & .row {
        --bs-gutter-x: 0rem !important;
        flex-wrap: nowrap;
        &:first-child {
            margin-bottom: rem-convertor(16px);
            @media only screen and (max-width: 991px) {
                flex-direction: column;
            }
        }
        & .form-check {
            @media only screen and (max-width: 767px) {
                @include flex-center();
                flex-direction: column;
            }
            &-privacy-policy {
                @media only screen and (max-width: 767px) {
                    flex-direction: row;
                }
            }
            &-input {
                @media only screen and (max-width: 767px) {
                    margin-right: rem-convertor(4px);
                }
            }
            @include form-checkbox();
        }
    }
    &-form {
        padding: rem-convertor(0px);
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
        @include form-input();
        & .btn {
            @include form-button();
            @include button();
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
        }
    }
    @include form-invalid-feedback();
}