$lvContainerTestimonials: (
    testimonials_carousel_indicators_bg_color: map-get($basic_colors, "color_black"),
    testimonials_card_bg_color_btn:            map-get($basic_colors, "color_black"),
    testimonials_font_color:                   map-get($basic_colors, "color_white"),
);

.lv-container-testimonials {
    & .carousel-indicators {
        & button {
            border-radius: 50%;
            width: rem-convertor(15px);
            height: rem-convertor(15px);
            background-color: map-get($lvContainerTestimonials, "testimonials_carousel_indicators_bg_color");
        }
    }
    & .carousel-inner {
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: rem-convertor(300px);
        & .carousel-item {
            padding-right: rem-convertor(15px);
            padding-left: rem-convertor(15px);
            transition-duration: 2.5s;
        }
    }
    & .carousel-control-prev, & .carousel-control-next {
        @include flex-center();
        top: 100px;
        border-radius: 50%;
        width: rem-convertor(36px);
        height: rem-convertor(36px);
        background-color: map-get($lvContainerTestimonials, "testimonials_card_bg_color_btn");
        color: map-get($lvContainerTestimonials, "testimonials_font_color");
        &-icon {
            width: rem-convertor(20px);
            height: rem-convertor(20px);
        }
    }
}