/*
    Each VueJs component has it's own CSS custom class:
    1. lv-pg-pageName refers to the whole page;
    2. lv-con-sectionName refers to a section from a page;
    3. lv-comp-componentName refers to a component from a page;
*/

@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/dist/sweetalert2';
@import '~@fortawesome/fontawesome-svg-core/styles';

/***** IMPORT CSS STYLES *****/
@import 'components/_global.scss';
@import 'pages/_global.scss';
@import 'utilities/_global.scss';

$background_color: map-get($blizzard_blue, "color_blizzard_blue");
$font_color: map-get($basic_colors, "color_black");
$font_family: 'Merriweather Sans Regular';

body {
    background-color: $background_color;
    color: $font_color;
    font-family: $font_family;
}
#container_app {
    margin-top: rem-convertor(76px);
}
.container-application {
    & .row {
        & .col-lg-12 {
            @include flex-center();
            flex-direction: column;
        }
    }
}