$lvContainerPageWrittenArticle: (
    card_background_color:         map-get($complementary_blizzard_blue, "color_sea_nymph"),
    card_font_color:               map-get($complementary_blizzard_blue, "color_sea_nymph"),
    comment_form_bg_color_btn:     map-get($blizzard_blue, "color_blizzard_blue"),
    comment_form_border_color_btn: map-get($blizzard_blue, "color_blizzard_blue"),
    comment_form_font_color_btn:   map-get($basic_colors, "color_black"),
    comment_form_check_font_color: map-get($basic_colors, "color_black"),
);
$lvContainerPageWrittenArticleFont: 'Merriweather Sans Bold', sans-serif;

.lv-pg-single-article {
    @include flex-center();
    flex-direction: column;
    margin: rem-convertor(120px) 0rem;
    &-header {
        & h1 {
            margin-bottom: rem-convertor(50px);
            text-transform: uppercase;
            text-align: center;
        }
    }
    &-body {
        & .article-header {
            display: flex;
            align-items: center;
            &-img, &-author, &-publish-date, &-reading-time {
                margin-right: rem-convertor(5px);
                & img, & span {
                    margin-right: rem-convertor(5px);
                    margin-left: rem-convertor(5px);
                }
                & span {
                    font-style: italic;
                    font-weight: 900;
                }
            }
            &-img {
                & img {
                    border: rem-convertor(1px) solid transparent;
                    border-radius: 50%;
                    width: rem-convertor(30px);
                    height: rem-convertor(30px);
                }
            }
        }
        & .title-divider {
            margin: rem-convertor(8px) rem-convertor(0px);
            border: rem-convertor(1px) solid #000000;
        }
        & .article-body-content {
            & p {
                margin-top: rem-convertor(16px);
                line-height: 2;
                text-align: justify;
            }
        }
        & .article-body-content-heading-slp, .article-body-content-heading-srp, .article-body-content-bottom-btm {
            display: flex;
            & p {
                margin-left: rem-convertor(16px);
                line-height: 2;
            }
        }
        & .article-body-content-heading-srp {
            flex-direction: row-reverse;
        }
        & .article-body-content-bottom-btm {
            flex-direction: column;
        }
        & .article-rate {
            margin-top: rem-convertor(24px);
            & p {
                display: flex;
                align-items: center;
                margin-bottom: rem-convertor(0px);
                & .Rate {
                    display: flex;
                    &__star {
                        padding: rem-convertor(0px);
                        color: #FFFFFF;
                        &.filled, &.hover {
                            color: #FDCC0D;
                        }
                        & .icon {
                            top: rem-convertor(-3px);
                            width: rem-convertor(20px);
                            height: rem-convertor(20px);
                            stroke: #CFB0A5;
                            stroke-width: rem-convertor(1px);
                        }
                    }
                }
            }
        }
        & .article-subcategory {
            & p {
                display: flex;
                align-items: center;
                margin-bottom: rem-convertor(8px);
                & a {
                    font-style: italic;
                }
            }
        }
        & .article-share {
            margin-bottom: rem-convertor(16px);
            & .btn {
                border-radius: rem-convertor(0px);
                background-color: map-get($lvContainerPageWrittenArticle, "comment_form_bg_color_btn");
                border-color: map-get($lvContainerPageWrittenArticle, "comment_form_border_color_btn");
                border-radius: rem-convertor(0px);
                color: map-get($lvContainerPageWrittenArticle, "comment_form_font_color_btn");
                font-weight: bold;
                &:focus {
                    border-color: transparent !important;
                    box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(1px) transparent !important;
                    outline: 0 none !important;
                }
            }
        }
        & .comment-divider {
            margin: rem-convertor(8px) rem-convertor(0px);
            border: rem-convertor(1px) solid #000000;
        }
        & .article-comments {
            margin: rem-convertor(32px) rem-convertor(0px);
            &-form {
                &-head {
                    @include flex-center();
                    flex-direction: column;
                    margin-bottom: rem-convertor(50px);
                    & h1, & p {
                        margin-bottom: rem-convertor(0px);
                        font-family: map-get($lvContainerPageWrittenArticle, "comment_form_font_family");
                    }
                    & p {
                        margin-top: rem-convertor(32px);
                    }
                }
                &-main {
                    form {
                        margin-bottom: rem-convertor(0px);
                    }
                    & .form-control {
                        border-radius: rem-convertor(0px);
                        height: rem-convertor(60px);
                    }
                    & .form-message {
                        height: rem-convertor(300px);
                        resize: none;
                    }
                    & input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
                        border-color: transparent;
                        box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                        outline: 0 none;
                    }
                    & input::placeholder, textarea::placeholder {
                        font-style: italic;
                    }
                    & .form-check {
                        margin-bottom: rem-convertor(0px);
                        &-input {
                            width: rem-convertor(20px);
                            height: rem-convertor(20px);
                        }
                        &-label {
                            & .a-typography {
                                margin: rem-convertor(8px) 0rem;
                                padding: 0rem;
                                color: map-get($lvContainerPageWrittenArticle, "comment_form_check_font_color");
                                font-style: normal;
                                font-variant: normal;
                                font-weight: normal;
                                text-align: left;
                                text-decoration: none;
                                white-space: normal;
                                word-break: normal;
                                word-spacing: normal;
                                text-decoration: underline;
                                text-indent: rem-convertor(0px);
                                &:visited, &:active {
                                    color: map-get($lvContainerPageWrittenArticle, "comment_form_check_font_color");
                                }
                                &:hover {
                                    color: map-get($lvContainerPageWrittenArticle, "comment_form_check_font_color");
                                    cursor: pointer;
                                }
                            }
                        }
                        & .invalid-feedback {
                            @media only screen and (max-width: 767px) {
                                text-align: center;
                            }
                        }
                    }
                    & .form-button {
                        @include flex-center();
                        margin-top: rem-convertor(16px);
                        margin-bottom: rem-convertor(16px);
                    }
                    & .btn {
                        border-radius: rem-convertor(0px);
                        height: rem-convertor(60px);
                        background-color: map-get($lvContainerPageWrittenArticle, "comment_form_bg_color_btn");
                        border-color: map-get($lvContainerPageWrittenArticle, "comment_form_border_color_btn");
                        border-radius: rem-convertor(0px);
                        color: map-get($lvContainerPageWrittenArticle, "comment_form_font_color_btn");
                        font-weight: bold;
                        &:focus {
                            border-color: transparent !important;
                            box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(1px) transparent !important;
                            outline: 0 none !important;
                        }
                    }
                }
            }
            &-list {
                &-card {
                    width: 100%;
                    background-color: map-get($lvContainerPageWrittenArticle, "card_background_color");
                    border: rem-convertor(0px) !important;
                    border-radius: rem-convertor(0px);
                    margin: rem-convertor(16px) 0rem;
                    form {
                        margin-bottom: rem-convertor(0px);
                    }
                    & .form-control {
                        border-radius: rem-convertor(0px);
                        height: rem-convertor(60px);
                    }
                    & .form-message {
                        height: rem-convertor(300px);
                        resize: none;
                    }
                    & input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
                        border-color: transparent;
                        box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                        outline: 0 none;
                    }
                    & input::placeholder, textarea::placeholder {
                        font-style: italic;
                    }
                    & .form-check {
                        margin-bottom: rem-convertor(0px);
                        &-input {
                            width: rem-convertor(20px);
                            height: rem-convertor(20px);
                        }
                        &-label {
                            & .a-typography {
                                margin: rem-convertor(8px) 0rem;
                                padding: 0rem;
                                color: map-get($lvContainerPageWrittenArticle, "comment_form_check_font_color");
                                font-style: normal;
                                font-variant: normal;
                                font-weight: normal;
                                text-align: left;
                                text-decoration: none;
                                white-space: normal;
                                word-break: normal;
                                word-spacing: normal;
                                text-decoration: underline;
                                text-indent: rem-convertor(0px);
                                &:visited, &:active {
                                    color: map-get($lvContainerPageWrittenArticle, "comment_form_check_font_color");
                                }
                                &:hover {
                                    color: map-get($lvContainerPageWrittenArticle, "comment_form_check_font_color");
                                    cursor: pointer;
                                }
                            }
                        }
                        & .invalid-feedback {
                            @media only screen and (max-width: 767px) {
                                text-align: center;
                            }
                        }
                    }
                    & .form-button {
                        @include flex-center-left-center();
                        margin-top: rem-convertor(16px);
                        margin-bottom: rem-convertor(16px);
                    }
                    & .btn {
                        border-radius: rem-convertor(0px);
                        height: rem-convertor(60px);
                        background-color: map-get($lvContainerPageWrittenArticle, "comment_form_bg_color_btn");
                        border-color: map-get($lvContainerPageWrittenArticle, "comment_form_border_color_btn");
                        border-radius: rem-convertor(0px);
                        color: map-get($lvContainerPageWrittenArticle, "comment_form_font_color_btn");
                        font-weight: bold;
                        &:focus {
                            border-color: transparent !important;
                            box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(1px) transparent !important;
                            outline: 0 none !important;
                        }
                    }
                }
                &-reply-card {
                    margin: rem-convertor(16px) 0rem rem-convertor(16px) rem-convertor(100px);
                }
            }
        }
    }
}