
@import '../../../../components/front_view/partials/_button.scss';
@import '../../../../components/front_view/partials/_social_media_icons.scss';

$lvContainerPageAudioArticle: (
    card_background_color:          map-get($complementary_blizzard_blue, "color_sea_nymph"),
    card_font_color:                map-get($complementary_blizzard_blue, "color_sea_nymph"),
    add_comment_btn_bg_color:       map-get($complementary_blizzard_blue, "color_sea_nymph"),
    add_comment_btn_border_color:   map-get($complementary_blizzard_blue, "color_sea_nymph"),
    reply_comment_btn_bg_color:     map-get($blizzard_blue, "color_blizzard_blue"),
    reply_comment_border_color_btn: map-get($blizzard_blue, "color_blizzard_blue"),
    comment_form_font_color_btn:    map-get($basic_colors, "color_black"),
    comment_form_check_font_color:  map-get($basic_colors, "color_black"),
);
$lvContainerPageAudioArticleFont: 'Merriweather Sans Bold', sans-serif;

@mixin comment-form() {
    & .form-control {
        border-radius: rem-convertor(0px);
        height: rem-convertor(60px);
    }
    & .form-message {
        height: rem-convertor(300px);
        resize: none;
    }
    & input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
        border-color: transparent;
        box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
        outline: 0 none;
    }
    & input::placeholder, textarea::placeholder {
        font-style: italic;
    }
    & .form-check {
        margin-bottom: rem-convertor(0px);
        &-input {
            width: rem-convertor(20px);
            height: rem-convertor(20px);
        }
        & .invalid-feedback {
            @media only screen and (max-width: 767px) {
                text-align: center;
            }
        }
        & .a-typography {
            margin: rem-convertor(8px) 0rem;
            padding: 0rem;
            color: map-get($lvContainerPageAudioArticle, "comment_form_check_font_color");
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            text-align: left;
            text-decoration: none;
            white-space: normal;
            word-break: normal;
            word-spacing: normal;
            text-decoration: underline;
            text-indent: rem-convertor(0px);
            &:visited, &:active {
                color: map-get($lvContainerPageAudioArticle, "comment_form_check_font_color");
            }
            &:hover {
                color: map-get($lvContainerPageAudioArticle, "comment_form_check_font_color");
                cursor: pointer;
            }
        }
    }
    & .form-button {
        @include flex-center();
        margin-top: rem-convertor(16px);
        margin-bottom: rem-convertor(16px);
    }
    & .btn {
        height: rem-convertor(60px);
        @include button();
    }
}
.lv-pg-audio-body {
    width: 100%;
}
.lv-pg-audio-article {
    @include flex-center();
    flex-direction: column;
    margin: rem-convertor(120px) 0rem;
    ::selection {
        background-color: map-get($lvContainerPageAudioArticle, "card_background_color");
    }
    &-header {
        & h1 {
            margin-bottom: rem-convertor(50px);
            text-transform: uppercase;
            text-align: center;
        }
    }
    &-body {
        & .audio-article-header {
            display: flex;
            align-items: center;
            @media only screen and (max-width: 539px) and (min-width: 320px) {
                flex-direction: column;
            }
            &-img, &-author, &-publish-date, &-reading-time, &-no-comments {
                margin-right: rem-convertor(5px);
                @media only screen and (max-width: 640px) and (min-width: 540px) {
                    margin-right: rem-convertor(2.5px);
                }
                & img, & span {
                    margin-right: rem-convertor(5px);
                    margin-left: rem-convertor(5px);
                    @media only screen and (max-width: 575px) and (min-width: 320px) {
                        margin-right: 0rem;
                        margin-left: 0rem;
                    }
                }
                & span {
                    font-style: italic;
                    font-weight: 900;
                    & a {
                        color: inherit;
                    }
                }
            }
            &-img {
                & img {
                    border: rem-convertor(1px) solid transparent;
                    border-radius: 50%;
                    width: rem-convertor(30px);
                    height: rem-convertor(30px);
                }
            }
        }
        & .title-divider {
            margin: rem-convertor(8px) rem-convertor(0px);
            border: rem-convertor(1px) solid #000000;
        }
        & .audio-article-body-content {
            & p {
                margin-top: rem-convertor(16px);
                line-height: 2;
                text-align: justify;
            }
        }
        & .audio-article-body-content-heading-slp, .audio-article-body-content-heading-srp, .audio-article-body-content-bottom-btm {
            display: flex;
            & p {
                margin-left: rem-convertor(16px);
                line-height: 2;
            }
        }
        & .audio-article-body-content-heading-srp {
            flex-direction: row-reverse;
        }
        & .audio-article-body-content-bottom-btm {
            flex-direction: column;
        }
        & .audio-article-appreciation-system {
            user-select: none;
            @media only screen and (max-width: 475px) and (min-width: 320px) {
                flex-direction: column;
            }
        }
        & .audio-article-rate {
            & p {
                display: flex;
                align-items: center;
                margin-bottom: rem-convertor(0px);
                @media only screen and (max-width: 475px) and (min-width: 320px) {
                    align-items: flex-start;
                    flex-direction: column;
                }
                & .Rate {
                    display: flex;
                    &__star {
                        padding: rem-convertor(0px);
                        color: #FFFFFF;
                        &.filled, &.hover {
                            color: #FDCC0D;
                        }
                        & .icon {
                            top: rem-convertor(-3px);
                            width: rem-convertor(20px);
                            height: rem-convertor(20px);
                            stroke: #CFB0A5;
                            stroke-width: rem-convertor(1px);
                        }
                    }
                }
            }
        }
        & .audio-article-subcategory {
            & p {
                display: flex;
                align-items: center;
                margin-bottom: rem-convertor(8px);
                & a {
                    color: inherit;
                    font-style: italic;
                }
            }
        }
        & .audio-article-share, & .audio-article-appreciation {
            display: flex;
            flex-direction: row;
            @include social-media-icon();
            & p {
                display: flex;
                align-items: center;
                margin-bottom: rem-convertor(0px);
                & a {
                    @include social-media-icon();
                    display: flex;
                    margin-right: rem-convertor(8px);
                    &:last-child {
                        margin-right: 0rem;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        & .audio-article-appreciation {
            .fa-thumbs-up, .fa-thumbs-down {
                border-radius: 50% !important;
                padding: rem-convertor(5px);
                width: rem-convertor(24px) !important;
                height: rem-convertor(24px) !important;
                color: #FFFFFF;
            }
            .fa-thumbs-up {
                background-color: #198754;
            }
            .fa-thumbs-down {
                background-color: #DC3545;
            }
        }
        & .audio-article-related {
            margin: rem-convertor(24px) 0rem;
            & h1 {
                margin: rem-convertor(32px) 0rem;
                font-size: rem-convertor(24px);
                text-align: center;
                text-transform: uppercase;
            }
            & .card {
                flex-direction: row !important;
                border: 0rem;
                border-radius: 0%;
                background-color: #719E9E;
                &:not(:last-of-type) {
                    margin-bottom: rem-convertor(8px);
                }
                &-body:first-of-type {
                    flex: none;
                }
                &-body:last-of-type {
                    @include flex-center-top();
                    flex-direction: column;
                    padding-left: rem-convertor(8px);
                    padding-right: rem-convertor(8px);
                }
                &-text {
                    margin-bottom: 0rem;
                    font-size: rem-convertor(18px);
                    & a {
                        color: #000000;
                    }
                }
                &-img-top {
                    width: rem-convertor(80px);
                }
            }
        }
        & .comment-divider {
            display:flex;
            align-items: center;
            & .line {
                height: rem-convertor(3px);
                flex: 1;
                background-color: #000;
            }
            & span {
                margin-bottom: 0rem;
                background-color: #719E9E;
                border-radius: 50%;
                padding: 0rem rem-convertor(16px);
                font-size: rem-convertor(24px);
                user-select: none;
            }
        }
        & .comment-info {
            position: relative;
            top: 0;
            display: block;
            font-size: rem-convertor(24px);
            text-align: center;
            text-transform: uppercase;
            user-select: none;
        }
        & .audio-article-comments {
            margin: rem-convertor(32px) rem-convertor(0px);
            &-form {
                &-head {
                    @include flex-center();
                    flex-direction: column;
                    margin-bottom: rem-convertor(50px);
                    & h1, & p {
                        margin-bottom: rem-convertor(0px);
                        font-family: map-get($lvContainerPageAudioArticle, "comment_form_font_family");
                    }
                    & p {
                        margin-top: rem-convertor(32px);
                    }
                }
                &-main {
                    form {
                        margin-bottom: rem-convertor(0px);
                    }
                    @include comment-form();
                }
            }
            &-list {
                &-info {
                    margin: rem-convertor(32px) 0rem;
                    & h1 {
                        margin-bottom: 0rem;
                        text-align: center;
                    }
                }
                &-card, &-reply-card {
                    width: 100%;
                    background-color: map-get($lvContainerPageAudioArticle, "card_background_color");
                    border: rem-convertor(0px) !important;
                    border-radius: rem-convertor(0px);
                    margin: rem-convertor(16px) 0rem;
                    ::selection {
                        background-color: map-get($lvContainerPageAudioArticle, "reply_comment_btn_bg_color");
                    }
                    & .card-title {
                        margin-bottom: rem-convertor(16px);
                        & h5 {
                            margin-bottom: 0rem;
                        }
                    }
                    form {
                        margin-bottom: rem-convertor(0px);
                    }
                    @include comment-form();
                    & .form-button {
                        justify-content: flex-start;
                    }
                    & .btn {
                        @include flex-center();
                        margin-right: rem-convertor(8px);
                        height: rem-convertor(40px);
                        background-color: map-get($lvContainerPageAudioArticle, "reply_comment_btn_bg_color");
                        border-color: map-get($lvContainerPageAudioArticle, "reply_comment_btn_bg_color");
                        &:last-child {
                            @media only screen and (max-width: 375px) and (min-width: 320px) {
                                margin-right: 0rem;
                            }
                        }
                    }
                }
                &-reply-card {
                    margin-left: rem-convertor(16px);
                    width: auto;
                    @media only screen and (max-width: 375px) and (min-width: 320px) {
                        margin-left: 0rem;
                    }
                }
                &-show {
                    @include flex-center();
                    & .btn {
                        margin-right: 0rem;
                    }
                }
            }
        }
    }
}