.lv-container-articles-list {
    & .card {
        margin: rem-convertor(16px) 0rem;
        width: 100%;
        &-title {
            margin-top: rem-convertor(16px);
            margin-bottom: rem-convertor(16px) !important;
            width: 100%;
            font-size: rem-convertor(24px);
            text-align: left !important;
            & span {
                font-size: rem-convertor(20px);
                font-style: italic;
            }
        }
    }
}