@import 'partials/_login.scss';
@import 'partials/_register.scss';
@import 'partials/_reset_password.scss';

.lv-pg-login, .lv-pg-register, .lg-pg-reset-password {
    margin: rem-convertor(100px) 0rem;
}

.lv-pg-register-verify-email {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    @media only screen and (min-width: 768px) {
        height: 78vh;
    }
    @media only screen and (max-width: 767px) and (min-width: 320px) {
        height: 76vh;
    }
    & .card-verify-email {
        border-width: 0rem;
        border-radius: 0rem;
        width: 100%;
        & .card-header {
            @include flex-center();
            height: rem-convertor(50px);
            background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
            border-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
            font-size: rem-convertor(24px);
            &:first-child {
                border-radius: 0;
            }
        }
        & .card-body {
            & .btn {
                @include button();
                width: 100%;
                height: rem-convertor(60px);
                text-transform: uppercase;
            }
        }
    }
}

.alternative {
    display:flex;
    align-items: center;
    margin: rem-convertor(24px) 0rem;
    & .line {
        height: rem-convertor(1px);
        flex: 1;
        background-color: #000000;
    }
    & span {
        margin-bottom: 0rem;
        background-color: #719E9E;
        border-radius: 50%;
        padding: 0rem rem-convertor(8px);
        user-select: none;
    }
}