@import 'partials/_start_questionnaire.scss';

.lv-pg-appointment, .lv-con-pg-questionnaire {
    flex-direction: column;
    &-header {
        padding-left: rem-convertor(100px);
        padding-right: rem-convertor(100px);
        & h1 {
            margin: rem-convertor(64px) 0rem;
            text-align: center;
        }
        & p {
            margin-bottom: 0rem;
            text-align: center;
        }
        @media only screen and (max-width: 767px) and (min-width: 576px) {
            padding-left: rem-convertor(50px);
            padding-right: rem-convertor(50px);
        }
        @media only screen and (max-width: 575px) and (min-width: 320px) {
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
}
.lv-pg-appointment {
    &-body {
        & h1 {
            margin: rem-convertor(64px) 0rem;
            text-align: center;
        }
        & p {
            margin: 0rem;
            text-align: center;
        }
    }
    &-button {
        @include flex-center();
        margin: rem-convertor(32px) 0rem;
        & .btn {
            margin: rem-convertor(20px) 0rem;
            @include button();
            & .fab {
                @include flex-center();
                width: rem-convertor(25px);
                height: rem-convertor(25px);
            }
        }
    }
}