.lv-pg-terms {
    @media only screen and (max-width: 475px) {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    &-header {
        margin-bottom: rem-convertor(35px);
        & h1 {
            margin-bottom: rem-convertor(0px);
            font-weight: bold;
        }
        & p {
            margin-bottom: rem-convertor(35px);
        }
        & h1, & p:first-of-type {
            @media only screen and (max-width: 575px) {
                text-align: center;
            }
        }
        & h3 {
            @media only screen and (max-width: 475px) {
                text-align: center;
            }
        }
        &-subtitle {
            margin-bottom: rem-convertor(20px);
        }
        &-lead, &-info {
            margin-bottom: rem-convertor(0px);
        }
        &-lead {
            @media only screen and (max-width: 992px) {
                text-align: justify;
            }
        }
        &-info {
            font-weight: bold;
        }
    }
    &-body {
        &-content {
            margin-top: rem-convertor(35px);
            margin-bottom: rem-convertor(35px);
            &-subtitle {
                margin-top: rem-convertor(16px);
                margin-bottom: rem-convertor(16px);
                font-weight: bold;
                @media only screen and (max-width: 475px) {
                    text-align: center;
                }
            }
            &-paragraph {
                margin-bottom: rem-convertor(0px);
                @media only screen and (max-width: 992px) {
                    text-align: justify !important;
                }
            }
        }
    }
}