.lv-pg-terms {
    @media only screen and (max-width: 475px) {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    &-header {
        margin-bottom: rem-convertor(35px);
        & h1 {
            margin-bottom: rem-convertor(36px) !important;
            font-weight: bold;
        }
        & p:first-of-type {
            margin-bottom: rem-convertor(35px);
        }
        & p {
            margin-bottom: rem-convertor(0px);
            text-align: justify;
        }
        & h1, & p:first-of-type {
            @media only screen and (max-width: 575px) {
                text-align: center;
            }
        }
        &-lead {
            font-size: rem-convertor(18px);
            @media only screen and (max-width: 992px) {
                text-align: justify;
            }
        }
        &-info {
            margin-top: rem-convertor(32px);
            margin-bottom: rem-convertor(32px);
            font-weight: bold;
        }
    }
    &-body {
        &-content {
            margin-top: rem-convertor(35px);
            margin-bottom: rem-convertor(35px);
            &-subtitle {
                margin-top: rem-convertor(16px);
                margin-bottom: rem-convertor(16px);
                font-weight: bold;
                @media only screen and (max-width: 475px) {
                    text-align: center;
                }
            }
            &-paragraph {
                margin-bottom: rem-convertor(0px);
                text-align: justify;
                @media only screen and (max-width: 992px) {
                    text-align: justify !important;
                }
                & ul {
                    margin-top: rem-convertor(16px);
                }
            }
        }
    }
}