.lv-pg-not-found, .lv-pg-under-construction {
    &-action {
        @include flex-center();
        &-buttons {
            position: absolute;
            top: 15%;
            right: 35%;
            padding: rem-convertor(20px);
            width: 30%;
            background-color: white;
            opacity: 0.65;
            & .title, .btn {
                margin-top: rem-convertor(20px);
                margin-bottom: rem-convertor(20px);
            }
            & .title {
                text-align: center;
                & h3 {
                    margin: rem-convertor(0px) !important;
                    user-select: none;
                }
            }
            & .buttons {
                @include flex-center();
                & .btn {
                    @include button();
                }
            }
        }
    }
}
