.lv-pg-contact {
    @media only screen and (max-width: 1400px) {
        padding-right: 0rem;
        padding-left: 0rem;
    }
    & .card {
        border-radius: rem-convertor(0px);
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
    &-content {
        margin-left: rem-convertor(40px);
        @media only screen and (max-width: 1400px) {
            margin-left: rem-convertor(32px);
        }
        @media only screen and (max-width: 1200px) {
            margin-left: rem-convertor(32px);
            width: 80%;
        }
        @media only screen and (max-width: 992px) {
            margin-left: rem-convertor(24px);
        }
        @media only screen and (max-width: 768px) {
            margin-left: rem-convertor(16px);
        }
        @media only screen and (max-width: 767px) {
            margin-left: 0rem;
            width: 100%;
        }
        &-header {
            @include flex-center();
            flex-direction: column;
            margin-bottom: rem-convertor(50px);
            & h1, & p {
                margin-bottom: rem-convertor(0px);
                font-family: inherit;
            }
            & p {
                margin-top: 0rem;
                font-size: rem-convertor(16px);
                @media only screen and (min-width: 320px) {
                    text-align: justify;
                }
                &:first-of-type {
                    margin-top: rem-convertor(32px);
                }
            }
        }
        & .card-alternative {
            border-radius: rem-convertor(0px);
            @media only screen and (min-width: 768px) {
                display: none;
            }
            @media only screen and (max-width: 767px) {
                margin-bottom: rem-convertor(50px) !important;
            }
            @media only screen and (max-width: 375px) {
                width: rem-convertor(296px) !important;
            }
            & img {
                @media only screen and (max-width: 375px) {
                    width: rem-convertor(296px) !important;
                }
            }
        }
        &-body {
            form {
                margin-bottom: rem-convertor(0px);
            }
            @include form-input();
            @include form-input-textarea();
            & .form-check {
                @media only screen and (max-width: 575px) and (min-width: 320px) {
                    @include flex-center();
                    flex-direction: column;
                }
                &-privacy-policy {
                    @media only screen and (max-width: 575px) and (min-width: 320px) {
                        flex-direction: row;
                    }
                }
                @include form-checkbox();
                @include form-invalid-feedback();
            }
            & .form-button {
                @media only screen and (max-width: 576px) {
                    @include flex-center();
                }
                & .btn {
                    @include form-button();
                    @include button();
                }
            }
        }
    }
}