@font-face {
    font-family: 'Charm Regular';
    src: url('../../../fonts/Charm-Regular.ttf') format('ttf'),
        url('../../../fonts/Charm-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}