@font-face {
    font-family: 'Merriweather Sans Bold';
    src: url('../../../fonts/MerriweatherSans-Bold.ttf') format('ttf'),
        url('../../../fonts/MerriweatherSans-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}