@font-face {
    font-family: 'Merriweather Sans Regular';
    src: url('../../../fonts/MerriweatherSans-Regular.ttf') format('ttf'),
        url('../../../fonts/MerriweatherSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}