@import './partials/_categories.scss';
@import './partials/_subcategories.scss';
@import './partials/_articles.scss';

.lv-pg-admin-user-blog {
    &-body {
        & .my-3 {
            padding: 0rem;
            & .nav {
                &-link {
                    @include flex-center();
                    border: 0rem;
                    border-top-left-radius: 0rem;
                    border-top-right-radius: 0rem;
                    height: rem-convertor(50px);
                    color: map-get($basic_colors, "color_black");
                    font-weight: 900;
                    text-transform: uppercase;
                }
                &-link.active {
                    background-color: map-get($basic_colors, "color_white") !important;
                    color: map-get($basic_colors, "color_black");
                }
            }
            & .nav.nav-tabs {
                border-bottom: 0rem;
            }
            & .tab-content {
                & .tab-pane {
                    & .card {
                        margin: 0rem;
                        border: 0rem !important;
                        border-radius: 0rem !important;
                        background-color: map-get($complementary_blizzard_blue, "color_sea_nymph") !important;
                        &-title {
                            @include flex-center-left-center();
                            margin-bottom: 0rem;
                            height: rem-convertor(60px);
                            text-transform: uppercase;
                        }
                        &-body {
                            padding: 0rem;
                            & .newsletter-subsection {
                                &-body {
                                    & .btn {
                                        
                                    }
                                }
                            }
                            & .btn {
                                border-radius: 0rem;
                                color: map-get($basic_colors, "color_black");
                                font-weight: bold;
                                &:focus {
                                    border-color: transparent !important;
                                    box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                                    outline: 0 none !important;
                                }
                            }
                        }
                        &-text {
                            margin-bottom: 0rem;
                            height: rem-convertor(100px);
                        }
                    }
                    & .row {
                        & .card {
                            background-color: map-get($blizzard_blue, "color_blizzard_blue") !important;
                            &-title {
                                justify-content: space-between;
                                margin-bottom: rem-convertor(24px);
                                & a {
                                    text-transform: capitalize;
                                }
                            }
                            &-text {
                                height: rem-convertor(50px);
                            }
                        }
                    }
                }
            }
        }
    }
}