.display-tooltip {
    position: relative;
    border: rem-convertor(1px) solid #000000;
    border-radius: 50%;
    padding: rem-convertor(2.5px) rem-convertor(8.96px);
    width: rem-convertor(30px);
    height: rem-convertor(30px);
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    &--hide {
        display: none;
    }
    &--logo {
        top: rem-convertor(40px);
        left: rem-convertor(-396px);
        z-index: 1;
    }
    &--motto {
        left: rem-convertor(-126px);
    }
    &--banner {
        top: rem-convertor(-220px);
        left: rem-convertor(180px);
    }
    &--jumbotron-title {
        top: rem-convertor(120px);
        left: rem-convertor(480px);
    }
    &--jumbotron-body {
        top: rem-convertor(160px);
        left: rem-convertor(-34px);
    }
    &--jumbotron-social-media {
        top: rem-convertor(90px);
        left: rem-convertor(1213px);
    }
    &--main-categories {
        top: rem-convertor(-150px);
        left: rem-convertor(30px);
    }
    &--appointment-title {
        top: rem-convertor(102px);
        left: rem-convertor(240px);
    }
    &--appointment-subtitle {
        top: rem-convertor(190px);
        left: rem-convertor(-650px);
    }
    &--appointment-body {
        top: rem-convertor(261px);
        left: rem-convertor(650px);
    }
    &--contact-title {
        top: rem-convertor(191px);
        left: rem-convertor(998px);
    }
    &--contact-description {
        top: rem-convertor(244px);
        left: rem-convertor(326px);
    }
    &--contact-field-name {
        top: rem-convertor(-178px);
        left: rem-convertor(874px);
    }
    &--contact-field-email {
        top: rem-convertor(-93px);
        left: rem-convertor(545px);
    }
    &--contact-field-message {
        top: rem-convertor(210px);
        left: rem-convertor(815px);
    }
    &-text {
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: rem-convertor(-150.4px);
        border-radius: rem-convertor(6px);
        padding: rem-convertor(10px);
        width: rem-convertor(300px);
        background-color: #000000;
        opacity: 0.75;
        color: #FFFFFF;
        text-align: justify;
        & h1, & p {
            margin-bottom: rem-convertor(0px) !important;
            font-weight: normal;
            & ul {
                margin-bottom: rem-convertor(0px) !important;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: rem-convertor(-5px);
            border-width: rem-convertor(5px);
            border-style: solid;
            border-color: transparent transparent #000000 transparent;
        }
    }
}
