@font-face {
    font-family: 'Charm Regular';
    src: url('../../../../../fonts/Charm-Regular.ttf') format('ttf'),
        url('../../../../../fonts/Charm-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}