@import 'partials/_timeline.scss';

.lv-pg-about-me {
    @include flex-center();
    flex-direction: column;
    ::selection {
        background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
    }
    ::selection {
        background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
    }
    &-video, & video {
        width: rem-convertor(720px);
        height: rem-convertor(480px);
        @media only screen and (max-width: 767px) {
            width: rem-convertor(480px);
            height: rem-convertor(360px);
        }
        @media only screen and (max-width: 479px) {
            width: rem-convertor(320px);
            height: rem-convertor(240px);
        }
    }
}