.lv-con-sect-categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media only screen and (max-width: 992px) {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
    & .card {
        border-radius: rem-convertor(0px);
        background-color: map-get($pale_cerulean, "color_khaki") !important;
        border-width: rem-convertor(0px);
        @media only screen and (max-width: 767px) {
            width: 100% !important;
        }
        &:nth-of-type(2) {
            @media only screen and (max-width: 767px) {
                margin-top: rem-convertor(16px);
                margin-bottom: rem-convertor(16px);
            }
        }
        &-title {
            margin-bottom: rem-convertor(0px);
            color: map-get($basic_colors, "color_black") !important;
            text-align: center;
        }
        &-body {
            &:nth-last-child(2) {
                padding-bottom: rem-convertor(0px);
            }
            &:last-child {
                @include flex-center();
                flex-direction: column;
            }
            & a {
                color: map-get($basic_colors, "color_black") !important;
            }
        }
        &-text {
            color: map-get($basic_colors, "color_black") !important;
            text-align: justify;
        }
    }
}