@import '../../../utilities/_global.scss';
@import '_social_media_icons.scss';

$lvContainerSectionFooter: (
    unsubscribe_bg_color_btn_cancel:     map-get($pale_cerulean, "color_khaki"),
    unsubscribe_border_color_btn_cancel: map-get($pale_cerulean, "color_khaki"),
    unsubscribe_bg_color_btn:            map-get($analogous_dark_vanilla, "color_green_mist"),
    unsubscribe_border_color_btn:        map-get($analogous_dark_vanilla, "color_green_mist"),
    unsubscribe_font_color_btn:          map-get($basic_colors, "color_black"),
    unsubscribe_font_color_form_check:   map-get($basic_colors, "color_black"),
);

$background_color: map-get($complementary_blizzard_blue, "color_sea_nymph");
$font_color: inherit;

.container-fluid {
    &.container-footer {
        @include flex-center();
        flex-direction: column;
        height: 15%;
        background-color: $background_color;
        & .container-footer-menu {
            @include flex-center();
            flex-direction: row !important;
            margin-top: rem-convertor(20px);
            width: 100%;
            @media only screen and (max-width: 575px) {
                flex-direction: column !important;
            }
            &-button {
                @include flex-center();
                flex-direction: column !important;
                width: 50%;
                @media only screen and (max-width: 575px) {
                    margin-bottom: rem-convertor(12px);
                    width: 100%;
                }
                & p {
                    margin-bottom: rem-convertor(0px);
                    font-weight: bold;
                    & a {
                        color: $font_color;
                    }
                }
                & .modal {
                    &-header {
                        justify-content: center !important;
                        align-items: center;
                    }
                    &-body {
                        & p {
                            margin: rem-convertor(16px) rem-convertor(0px);
                        }
                        & form {
                            margin: rem-convertor(32px) rem-convertor(0px);
                            & .form-control {
                                border-radius: rem-convertor(0px);
                                height: rem-convertor(60px);
                            }
                        }
                    }
                    &-buttons {
                        @include flex-center();
                        margin: rem-convertor(16px) rem-convertor(0px);
                        & .btn {
                            height: rem-convertor(60px);
                            border-radius: rem-convertor(0px);
                            background-color: map-get($lvContainerSectionFooter, "unsubscribe_bg_color_btn_cancel");
                            border-color: map-get($lvContainerSectionFooter, "unsubscribe_border_color_btn_cancel");
                            border-radius: rem-convertor(0px);
                            color: map-get($lvContainerSectionFooter, "unsubscribe_font_color_btn");
                            font-weight: bold;
                            &:focus {
                                border-color: transparent !important;
                                box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent !important;
                                outline: 0 none !important;
                            }
                            &:first-of-type {
                                margin-right: rem-convertor(16px);
                            }
                            &:last-of-type {
                                background-color: map-get($lvContainerSectionFooter, "unsubscribe_bg_color_btn");
                                border-color: map-get($lvContainerSectionFooter, "unsubscribe_border_color_btn");
                            }
                        }
                        & input[type="email"]:focus {
                            border-color: transparent;
                            box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                            outline: 0 none;
                        }
                    }
                }
            }
            &-contact {
                @include flex-center();
                flex-direction: column !important;
                width: 50%;
                @media only screen and (max-width: 574px) and (min-width: 320px) {
                    width: 100%;
                }
                & p {
                    margin-bottom: rem-convertor(0px);
                    color: $font_color;
                    font-weight: bold;
                    user-select: none;
                    & .email {
                        position: relative;
                        top: rem-convertor(-3px);
                    }
                    & a {
                        color: $font-color;
                        @include social-media-icon();
                    }
                    &:last-child {
                        @include flex-center();
                        @media only screen and (max-width: 575px) {
                            text-align: center;
                        }
                        & span {
                            position: relative;
                            top: rem-convertor(-3px);
                        }
                        & a {
                            color: $font-color;
                        }
                    }
                    & .btn {
                        border-width: rem-convertor(0px) !important;
                        padding: rem-convertor(4.5px) !important;
                        background-color: transparent;
                        @media only screen and (max-width: 575px) {
                            padding: 0rem !important;
                        }
                    }
                }
            }
        }
        & .container-footer-copyright {
            @include flex-center();
            flex-direction: column;
            margin-top: rem-convertor(20px);
            width: 100%;
            & p {
                margin-bottom: rem-convertor(0px);
                color: $font_color !important;
                font-size: rem-convertor(14px);
                font-weight: bold;
                user-select: none;
                &:first-child {
                    @media only screen and (max-width: 575px) {
                        text-align: center;
                    }
                }
                & a {
                    color: $font_color !important;
                }
            }
        }
    }
}