@import '_social_media_icons.scss';
@import '_form_input.scss';
@import '_button.scss';

.container-fluid {
    &.container-footer {
        @include flex-center();
        flex-direction: column;
        height: 15%;
        background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
        & .container-footer-menu {
            @include flex-center();
            flex-direction: row !important;
            margin-top: rem-convertor(20px);
            width: 100%;
            @media only screen and (max-width: 575px) {
                flex-direction: column !important;
            }
            &-button {
                @include flex-center();
                flex-direction: column !important;
                width: 50%;
                @media only screen and (max-width: 575px) {
                    margin-bottom: rem-convertor(12px);
                    width: 100%;
                }
                & p {
                    margin-bottom: rem-convertor(0px);
                    font-weight: bold;
                    & a {
                        color: inherit;
                    }
                }
                & .modal {
                    &-content {
                        background-color: map-get($blizzard_blue, "color_blizzard_blue");
                        border-radius: 0rem;
                        color: map-get($basic_colors, "color_black");
                        font-family: inherit;
                        user-select: none;
                    }
                    &-header {
                        justify-content: center !important;
                        align-items: center;
                        border-bottom: 0rem;
                    }
                    &-body {
                        & p {
                            margin: rem-convertor(16px) rem-convertor(0px);
                        }
                        & form {
                            margin: rem-convertor(32px) rem-convertor(0px);
                            & .form-control {
                                border-radius: rem-convertor(0px);
                                height: rem-convertor(60px);
                            }
                            & input[type="email"]:focus {
                                border-color: transparent;
                                box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                                outline: 0 none;
                            }
                            & input::placeholder {
                                font-style: italic;
                            }
                        }
                    }
                    &-buttons {
                        @include flex-center();
                        margin: rem-convertor(16px) rem-convertor(0px);
                        & .btn {
                            height: rem-convertor(60px);
                            @include button();
                            &:first-of-type {
                                margin-right: rem-convertor(16px);
                            }
                        }
                        & input[type="email"]:focus {
                            border-color: transparent;
                            box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                            outline: 0 none;
                        }
                    }
                }
            }
            &-contact {
                @include flex-center();
                flex-direction: column !important;
                width: 50%;
                @media only screen and (max-width: 574px) and (min-width: 320px) {
                    width: 100%;
                }
                & p {
                    margin-bottom: rem-convertor(0px);
                    color: inherit;
                    font-weight: bold;
                    user-select: none;
                    & .email {
                        position: relative;
                        top: rem-convertor(-3px);
                    }
                    & a {
                        color: inherit;
                        @include social-media-icon();
                    }
                    &:last-child {
                        @include flex-center();
                        @media only screen and (max-width: 575px) {
                            text-align: center;
                        }
                        & span {
                            position: relative;
                            top: rem-convertor(-3px);
                        }
                        & a {
                            color: inherit;
                        }
                    }
                    & .btn {
                        border-width: rem-convertor(0px) !important;
                        padding: rem-convertor(4.5px) !important;
                        background-color: transparent;
                        @media only screen and (max-width: 575px) {
                            padding: 0rem !important;
                        }
                    }
                }
            }
        }
        & .container-footer-copyright {
            @include flex-center();
            flex-direction: column;
            margin-top: rem-convertor(20px);
            width: 100%;
            & p {
                margin-bottom: rem-convertor(0px);
                color: inherit !important;
                font-size: rem-convertor(14px);
                font-weight: bold;
                user-select: none;
                &:first-child {
                    @media only screen and (max-width: 575px) {
                        text-align: center;
                    }
                }
                & a {
                    color: inherit !important;
                }
            }
        }
    }
}