@mixin form-input() {
    & .form-control {
        border-radius: rem-convertor(0px);
        height: rem-convertor(60px);
    }
    & input[type="text"]:focus, input[type="email"]:focus {
        border-color: transparent;
        box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
        outline: 0 none;
    }
    & input::placeholder {
        font-style: italic;
    }
}
@mixin form-input-textarea() {
    & .form-message {
        height: rem-convertor(300px);
        resize: none;
    }
    & textarea:focus {
        border-color: transparent;
        box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
        outline: 0 none;
    }
    & textarea::placeholder {
        font-style: italic;
    }
}
@mixin form-invalid-feedback() {
    & .invalid-feedback {
        margin-bottom: rem-convertor(4px);
        @media only screen and (max-width: 767px) {
            text-align: center;
        }
    }
}
@mixin form-button() {
    height: rem-convertor(60px);
    text-transform: uppercase;
}
@mixin form-checkbox() {
    margin-bottom: rem-convertor(0px);
    &-input {
        width: rem-convertor(20px);
        height: rem-convertor(20px);
    }
    & .a-typography {
        margin: rem-convertor(8px) 0rem;
        padding: 0rem;
        color: map-get($basic_colors, "color_black");
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        word-break: normal;
        word-spacing: normal;
        text-decoration: underline;
        text-indent: rem-convertor(0px);
        &:visited, &:active {
            color: map-get($basic_colors, "color_black");
        }
        &:hover {
            color: map-get($basic_colors, "color_black");
            cursor: pointer;
        }
    }
}