@import '../../../utilities/_utilities.scss';

$background_color: map-get($pale_cerulean, "color_khaki");
$font_color: inherit;
$navbar_brand_font_family: 'Charm Regular', cursive;
$navbar_link_font_family: 'Merriweather Sans Bold', sans-serif;

.navbar {
    background-color: $background_color !important;
    &-brand {
        @include flex-center-left-center();
        padding-top: rem-convertor(0px) !important;
        padding-bottom: rem-convertor(0px) !important;
        & p {
            margin-bottom: rem-convertor(0px) !important;
            margin-left: rem-convertor(8px);
            width: 30%;
            color: $font_color;
            font-family: $navbar_brand_font_family;
            font-style: italic;
            word-wrap: break-word;
        }
    }
    & .nav-link {
        color: $font_color !important;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
    }
}