$background_color: map-get($pale_cerulean, "color_khaki");
$font_color: inherit;
$navbar_brand_font_family: 'Charm Regular', cursive;
$navbar_link_font_family: inherit;

.navbar {
    background-color: $background_color !important;
    &-brand {
        @include flex-center-left-center();
        padding-top: rem-convertor(0px) !important;
        padding-bottom: rem-convertor(0px) !important;
        @media only screen and (max-width: 767px) {
            margin-right: 0rem !important;
            font-size: rem-convertor(18px) !important;
        }
        @media only screen and (max-width: 575px) {
            align-items: flex-start;
            flex-direction: column !important;
            font-size: rem-convertor(20px) !important;
        }
        & p {
            margin-bottom: rem-convertor(0px) !important;
            margin-left: rem-convertor(8px);
            color: $font_color;
            font-family: $navbar_brand_font_family;
            font-style: italic;
            word-wrap: break-word;
            @media only screen and (max-width: 575px) {
                margin: rem-convertor(8px) 0rem !important;
            }
        }
    }
    &-nav {
        @include flex-center();
    }
    &-toggler {
        @media only screen and (max-width: 375px) {
            padding-right: rem-convertor(8px);
            padding-left: rem-convertor(8px);
        }
    }
    &-toggler-icon {
        @media only screen and (max-width: 375px) {
            width: rem-convertor(20px);
            height: rem-convertor(20px);
        }
    }
    & .nav-link {
        color: $font_color !important;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
        & span:last-of-type {
            font-size: rem-convertor(12px);
        }
    }
    & .dropdown-menu {
        // clip-path: polygon(50% 0%, 56% 7%, 100% 7%, 100% 100%, 0 100%, 0 7%, 42% 7%);
        margin-top: rem-convertor(7.2px) !important;
        background-color: $background_color;
        border-top: rem-convertor(0px) !important;
        & .dropdown-item {
            padding-right: rem-convertor(4px);
            padding-left: rem-convertor(4px);
            color: $font_color;
            &:first-child {
                &:active, &:focus, &:hover {
                    background-color: $background_color !important;
                }
            }
            & span {
                color: $font_color;
                font-size: rem-convertor(12px);
                font-weight: bold;
            }
            &:active, &:focus, &:hover {
                background-color: $background_color !important;
            }
        }
    }
}
// span.flag.f-ro.normal-flag, span.flag.f-usa.normal-flag {
//     margin-right: 0.5px;
// }
// span.flag.f-ro.small-flag, span.flag.f-usa.small-flag {
//     margin-right: -18px;
// }
// .profile-photo {
//     width: 2rem;
//     height: 2rem;
//     margin: -.375rem 0;
// }