@import '../../../../components/front_view/partials/_button.scss';
@import '../../../../components/front_view/partials/_form_input.scss';

.lv-pg-register {
    width: 50%;
    & .card {
        border-width: 0rem;
        border-radius: 0rem;
        &-header {
            @include flex-center();
            height: rem-convertor(50px);
            background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
            border-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
            font-size: rem-convertor(24px);
            &:first-child {
                border-radius: 0;
            }
        }
        &-body {
            form {
                margin-bottom: rem-convertor(0px);
                & div {
                    & .col-form-label {
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }
            }
            & .form-control {
                border-radius: rem-convertor(0px);
                height: rem-convertor(60px);
            }
            & input[type="text"]:focus, & input[type="email"]:focus, input[type="password"]:focus {
                border-color: map-get($basic_colors, "color_black");
                box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                outline: 0 none;
            }
            & input::placeholder {
                font-style: italic;
            }
            & .invalid-feedback {
                margin-bottom: rem-convertor(4px);
                @media only screen and (max-width: 767px) {
                    text-align: center;
                }
            }
            & .form-options {
                & .col-md-6 {
                    @include flex-center();
                }
                & .form-check, & .form-link {
                    margin-bottom: rem-convertor(0px);
                    font-weight: 900;
                    &-input {
                        width: rem-convertor(20px);
                        height: rem-convertor(20px);
                    }
                    & .a-typography {
                        margin: rem-convertor(8px) 0rem;
                        padding: 0rem;
                        color: map-get($basic_colors, "color_black");
                        font-style: normal;
                        font-variant: normal;
                        font-weight: normal;
                        text-align: left;
                        text-decoration: none;
                        white-space: normal;
                        word-break: normal;
                        word-spacing: normal;
                        text-decoration: underline;
                        text-indent: rem-convertor(0px);
                        &:visited, &:active {
                            color: map-get($basic_colors, "color_black");
                        }
                        &:hover {
                            color: map-get($basic_colors, "color_black");
                            cursor: pointer;
                        }
                    }
                }
            }
            & .form-button {
                & .col-md-12 {
                    @include flex-center();
                    & span {
                        font-size: rem-convertor(18px);
                        font-weight: 900;
                    }
                }
                & .btn {
                    @include button();
                    width: 100%;
                    height: rem-convertor(60px);
                    text-transform: uppercase;
                }
            }
        }
    }
}