@import '../../../../components/front_view/partials/_button.scss';
@import '../../../../components/front_view/partials/_form_input.scss';

.lv-pg-reset-password {
    @include flex-center();
    height: 100vh;
    width: 100%;
    @media only screen and (min-width: 768px) {
        height: 78vh;
    }
    @media only screen and (max-width: 767px) and (min-width: 320px) {
        height: 76vh;
    }
    & .card {
        border-width: 0rem;
        border-radius: 0rem;
        width: 100%;
        &-header {
            @include flex-center();
            height: rem-convertor(50px);
            background-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
            border-color: map-get($complementary_blizzard_blue, "color_sea_nymph");
            font-size: rem-convertor(24px);
            &:first-child {
                border-radius: 0;
            }
        }
        &-body {
            form {
                margin-bottom: rem-convertor(0px);
                & .alert {
                    margin-bottom: 0rem;
                    border-radius: 0rem;
                }
                & div {
                    & .col-form-label {
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }
            }
            & .form-control {
                border-radius: rem-convertor(0px);
                height: rem-convertor(60px);
            }
            & input[type="email"]:focus, input[type="password"]:focus {
                border-color: map-get($basic_colors, "color_black");
                box-shadow: 0 rem-convertor(1px) rem-convertor(1px) transparent inset, 0 0 rem-convertor(8px) transparent;
                outline: 0 none;
            }
            & input::placeholder {
                font-style: italic;
            }
            & .invalid-feedback {
                margin-bottom: rem-convertor(4px);
                @media only screen and (max-width: 767px) {
                    text-align: center;
                }
            }
            & .btn {
                @include button();
                width: 100%;
                height: rem-convertor(60px);
                text-transform: uppercase;
            }
        }
    }
}