$dark_vanilla: (
    color_champagne:      #F5E8C7,
    color_dark_vanilla:   #DEBA9D,
    color_burnished_brown:#9E7777,
    color_wenge:          #6F4C5B,
    color_black:          #000000,
    color_gray:           #808080,
    color_white:          #FFFFFF,
);