$lemon_meringue: (
    color_lemon_meringue:    #F1ECC3,
    color_pastel_gray:       #C9D8B6,
    color_wintergreen_dream: #57837B,
    color_stormcloud:        #515E63,
    color_black:             #000000,
    color_gray:              #808080,
    color_white:             #FFFFFF,
);