$lvContainerUnderConstruction: (
    under_construction_page_bg_color_btn:     map-get($pale_cerulean, "color_khaki"),
    under_construction_page_border_color_btn: map-get($pale_cerulean, "color_khaki"),
    under_construction_page_font_color_btn:   map-get($basic_colors, "color_black"),
);

.under-construction-page {
    &-action {
        @include flex-center();
        &-buttons {
            position: absolute;
            top: 15%;
            right: 35%;
            padding: rem-convertor(20px);
            width: 30%;
            background-color: white;
            opacity: 0.65;
            & .title, .btn {
                @include flex-center();
                margin-top: rem-convertor(20px);
                margin-bottom: rem-convertor(20px);
            }
            & .title {
                & h3 {
                    margin: rem-convertor(0px) !important;
                    text-align: center;
                }
            }
            & .buttons {
                @include flex-center();
                & .btn {
                    background-color: map-get($lvContainerUnderConstruction, "under_construction_page_bg_color_btn");
                    border-color: map-get($lvContainerUnderConstruction, "under_construction_page_border_color_btn");
                    border-radius: rem-convertor(0px);
                    font-weight: bold;
                    color: map-get($lvContainerUnderConstruction, "under_construction_page_font_color_btn");
                    &:focus {
                        border-color: transparent !important;
                        box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important;
                        outline: 0 none !important;
                    }
                    &:first-of-type {
                        margin-right: rem-convertor(10px);
                    }
                }
            }
        }
    }
}