@font-face {
    font-family: 'Merriweather Sans Regular';
    src: url('../../../../../fonts/MerriweatherSans-Regular.ttf') format('ttf'),
        url('../../../../../fonts/MerriweatherSans-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather Sans Bold';
    src: url('../../../../../fonts/MerriweatherSans-Bold.ttf') format('ttf'),
        url('../../../../../fonts/MerriweatherSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}